<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<meta name="viewport" content="initial-scale=1, minimum-scale=1" />
<title>404 &mdash; Not Found</title>

<style type="text/css">
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: gray;
    text-align: center;
}
h1 {
    margin-bottom: 0;
    font-size: 144px;
    font-weight: normal;
}
</style>

<h1>404</h1>
<p>There doesn't seem to be anything here.</p>

{% comment %}
vim:filetype=htmldjango
{% endcomment %}
