{% load static %}
<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<meta name="viewport" content="initial-scale=1, minimum-scale=1" />

<title>{% if title %}{{ title }} &mdash; {% endif %}{{ name }}</title>

<link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.min.css" %}" />

<style type="text/css">
nav ul.nav li:last-child {
    margin-right: 10px;
}
</style>

{% block css %}{% endblock %}

<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->

<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">{{ name }}</a>
    </div>
    <div class="navbar-collapse collapse">
        <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
                <input type="text" name="q" class="form-control" placeholder="Search" value="{{ query }}" />
            </div>
        </form>
        <ul class="nav navbar-nav navbar-right">
            <li data-page-name="newest"><a href="/">Newest</a></li>
            <li data-page-name="top"><a href="/?sort=top">Top</a></li>
            <li data-page-name="add"><a href="/add">Add Quote</a></li>
        </ul>
    </div>
</nav>

<div class="container">

    {% block body %}{% endblock %}

</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>

<script>
$("li[data-page-name='{{ pagename }}']").addClass('active');
</script>

{% block js %}{% endblock %}

{% comment %}
vim:filetype=htmldjango
{% endcomment %}
