{% extends "base.html" %}

{% block body %}

<ul class="list-unstyled">
    {% for quote in quotes %}
    <li class="row">
        <h4 class="text-muted">
            <a class="username" href="/u/{{ quote.username|urlencode }}">{{ quote.username }}</a>
            submitted to
            <a class="channel" href="/c/{{ quote.channel|urlencode }}">#{{ quote.channel }}</a>
            <time datetime="{{ quote.timestamp|time:"c" }}">{{ quote.timestamp|timesince }}</time>
            ago
        </h4>
        <pre>{{ quote.body }}</pre>
    </article>
    {% endfor %}
</ul>

{% endblock %}
