{% extends "base.html" %}

{% block body %}

{% if quotes %}
<ul class="list-unstyled">
    {% for quote in quotes %}
    <li id="quote-{{ quote.id }}" class="row">
        <h5 class="text-muted">
            <div class="badge" title="+{{ quote.total_upvotes }} &minus;{{ quote.total_downvotes }}">
                <span class="glyphicon glyphicon-chevron-down" onclick="QDB.vote({{ quote.id }}, 'down')"></span>
                <span class="vote_total">{{ quote.vote_total }}</span>
                <span class="glyphicon glyphicon-chevron-up" onclick="QDB.vote({{ quote.id }}, 'up')"></span>
            </div>
            <a class="username" href="/u/{{ quote.username|urlencode }}">{{ quote.username }}</a>
            submitted to
            <a class="channel" href="/c/{{ quote.channel|urlencode }}">#{{ quote.channel }}</a>
            <time datetime="{{ quote.timestamp|time:"c" }}">{{ quote.timestamp|timesince }}</time>
            ago
        </h5>
        <pre>{{ quote.body }}</pre>
    </article>
    {% endfor %}
</ul>
{% else %}
<p class="text-info">There doesn't seem to be anything here.</p>
{% endif %}

{% if quotes.has_other_pages %}
<ul class="pagination">
    {% if quotes.has_previous %}
    <li><a href="?{{ paginate_query }}page={{ quotes.previous_page_number }}">&laquo;</a></li>
    {% else %}
    <li class="disabled"><a>&laquo;</a></li>
    {% endif %}

    {% for page in quotes.paginator.page_range %}
    <li{% if quotes.number == page %} class="active"{% endif %}>
        <a href="?{{ paginate_query }}page={{ page }}">{{ page }}</a>
    </li>
    {% endfor %}

    {% if quotes.has_next %}
    <li><a href="?{{ paginate_query }}page={{ quotes.next_page_number }}">&raquo;</a></li>
    {% else %}
    <li class="disabled"><a>&raquo;</a></li>
    {% endif %}
</ul>
{% endif %}

{% endblock %}

{% block js %}
<script type="text/javascript">
(function(QDB, $, undefined) {
    'use strict';
    
    // https://docs.djangoproject.com/en/dev/ref/contrib/csrf/#ajax
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    QDB.vote = function(quote, direction) {
        $.ajax({
            'url': '/vote/' + quote + '/' + direction,
            'type': 'POST',
            'headers': {'X-CSRFToken': getCookie('csrftoken')},
        }).done(function(result) {
            $('#quote-' + quote + ' .vote_total').text(result);
        }).fail(function() {
            alert('Failed to register vote.');
        });
    }

}(window.QDB = window.QDB || {}, jQuery));
</script>
{% endblock %}
